#mce-error-response,
#mce-success-response {
  display: none;
}

#b_9114fd5477701a23585c77dda_08b705ae51 {
  position: absolute; 
  left: -5000px;
}

div.clear input {
  border: none; 
  border-radius: 15px;
}

.slide--3--description:first-child {
  font-weight: 800;
}

.slide--4--rating {
  padding-bottom: 1.5rem;
}

.detail--services--description p {
  line-height: 2rem;
  padding: .5rem 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.gallery--modal {
  padding-top: 2rem;
}

.gallery--modal--elipses {
  padding-left: .75rem;
}

.gallery--modal--button {
  cursor: pointer;
}

.gallery--image--full {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10%;
}

.gallery--image--container--full {
  margin: auto;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.gallery--image--container--full h1 {
  font-size: 2.25rem;
  padding-bottom: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: underline;
}

.gallery--link--image {
  width: 200px;
}

.button {
  background-color: rgb(40, 144, 206);
  color: #fff;
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 4px 2px 1px rgba(0,0,0,.6);
  cursor: pointer;
  margin-top: .5rem;
  margin-left: .75rem;
  margin-right: .75rem;
  font-size: 16px;
  font-family: Raleway,sans-serif;
  font-weight: 600;
  font-style: normal;
}

.button-secondary {
  background-color: #e0e0e0;
  color: #000;
}

.button:target {
  background-color: rgba(40, 144, 206, 0.7);
  box-shadow: none;
}

.button-secondary:target {
  background-color: #fff;
  box-shadow: none;
}

.button:hover,
.button:focus,
.button-secondary:hover,
.button-secondary:focus {
  box-shadow: none;
  outline: 0;
}
  