#mce-error-response,
#mce-success-response {
  display: none;
}

#b_9114fd5477701a23585c77dda_08b705ae51 {
  position: absolute; 
  left: -5000px;
}

div.clear input {
  border: none; 
  border-radius: 15px;
}

.slide--3--description:first-child {
  font-weight: 800;
}

.slide--4--rating {
  padding-bottom: 1.5rem;
}

.detail--services--description p {
  line-height: 2rem;
  padding: .5rem 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}
  